<section id="catalogo" class="catalogo">
    <div class="container">
      <h2>Catálogo</h2>

      <div class="menu-categorias">
        <a href="#vestidos">Vestidos</a>
        <a href="#pantalones">Pantalones</a>
        <a href="#conjuntos">Conjuntos</a>
        <a href="#accesorios">Accesorios</a>
        <a href="#calzado">Calzado</a>
      </div>

      <h3 id="vestidos" class="categoria">Vestidos</h3>
      <div class="grid">
        <div class="card">
          <img src="https://picsum.photos/id/24/1024/720">
          <h5>Vestido largo</h5>
          <p>L. 950</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/24/1024/720">
          <h5>Vestido largo</h5>
          <p>L. 950</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/24/1024/720">
          <h5>Vestido corto</h5>
          <p>L. 700</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/24/1024/720">
          <h5>Vestido corto</h5>
          <p>L. 650</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/24/1024/720">
          <h5>Vestido corto: jajnds</h5>

          <p>L. 800</p>
        </div>
      </div>
      <a href="#catalogo" class="btn-volver"> Volver al catálogo</a>

     
      <h3 id="pantalones" class="categoria">Pantalones</h3>
      <div class="grid">
        <div class="card">
          <img src="https://picsum.photos/id/25/1024/720">
          <h5>Bolso elegante</h5>
          <p>L. 350</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/26/1024/720">
          <h5>Collar</h5>
          <p>L. 200</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/27/1024/720">
          <h5>Lentes de sol</h5>
          <p>L. 250</p>
        </div>
      </div>
      <a href="#catalogo" class="btn-volver"> Volver al catálogo</a>

      
      <h3 id="conjuntos" class="categoria">Conjuntos</h3>
      <div class="grid">
        <div class="card">
          <img src="https://picsum.photos/id/25/1024/720">
          <h5>Conjunto 1</h5>
          <p>L. 500</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/26/1024/720">
          <h5>Conjunto 2</h5>
          <p>L. 600</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/27/1024/720">
          <h5>Conjunto 3</h5>
          <p>L. 550</p>
        </div>
      </div>
      <a href="#catalogo" class="btn-volver"> Volver al catálogo</a>

      
      <h3 id="accesorios" class="categoria">Accesorios</h3>
      <div class="grid">
        <div class="card">
          <img src="https://picsum.photos/id/25/1024/720">
          <h5>Bolso elegante</h5>
          <p>L. 350</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/26/1024/720">
          <h5>Collar</h5>
          <p>L. 200</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/27/1024/720">
          <h5>Lentes de sol</h5>
          <p>L. 250</p>
        </div>
      </div>
      <a href="#catalogo" class="btn-volver"> Volver al catálogo</a>

     
      <h3 id="calzado" class="categoria">Calzado</h3>
      <div class="grid">
        <div class="card">
          <img src="https://picsum.photos/id/28/1024/720">
          <h5>Tacones elegantes</h5>
          <p>L. 950</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/29/1024/720">
          <h5>Sandalias</h5>
          <p>L. 600</p>
        </div>

        <div class="card">
          <img src="https://picsum.photos/id/30/1024/720">
          <h5>Zapatos casuales</h5>
          <p>L. 700</p>
        </div>
      </div>

    </div>
    <a href="#catalogo" class="btn-volver"> Volver al catálogo</a>
  </section>
