 <header class="header">
    <div class="container">
      <h1>GLAMM</h1>
      <nav>
        <ul class="nav">
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#catalogo">Catálogo</a></li>
          <li><a href="#promociones">Promociones</a></li>
          <li><a href="#coleccion">Nueva Colección</a></li>
          <li><a href="#contacto">Contacto</a></li>

        </ul>
      </nav>
    </div>
  </header>