 <header class="header">
    <div class="container">
      <h1>GLAMM</h1>
      <nav>
        <ul class="nav">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../promociones.html">Promociones</a></li>
          <li><a href="../nueva_coleccion.html">Nueva Colección</a></li>
          <li><a href="../contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>