.hero {
  background: @content-primary-background;
  height: 40vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .hero-logo {
    width: 150px; 
    height: auto;
    margin-top: 60px;
  }
}